body {
  background-color: #1B1C1D;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

h2 {
  color: white;
}

.cardContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 50px;
  padding-right: 5em;
  padding-left: 5em;
}

.titleContainer {
  width: 10vw;
}
