/* * {
  border: 1px solid black;
} */
a {
  height: I’m 575px;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.movieCard {
  background-size: cover;
  
  transition: 0.5s ease;
  cursor: pointer;
  color: white;
  font-size: 1.5em;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.movieCard:hover {
  transform: scale(1.2);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0);
}
