.navBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1 {
  font-family: 'Anton', sans-serif;
  font-size: 5em;
  color: white;
  margin-left: 1em;
}

input {
  width: 200px;
  height: 30px;
  border-radius: 50px;
  border: solid white 3.5px;
  outline: none;
  background: #1B1C1D;
  caret-color: #83e377;
  color: #83e377;
}

.far {
  color: white;
}
